<div class="container">
  <div class="cardContainerRight">
    <div class="imgContainer">
      <img class="img" src="../../../assets/img/brownie.jpg" alt="" />
    </div>
    <div class="textContainer">
      <h2 class="title">Nombre de curso</h2>
      <p class="text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. At natus
        nesciunt sed laborum aut iure, tempore commodi mollitia dignissimos
        magni accusantium sapiente iusto id dicta hic debitis consectetur cumque
        enim dolor facere sunt architecto. Repellendus ipsam doloremque
        voluptate possimus provident non, cum beatae neque placeat
        necessitatibus, voluptates obcaecati fuga pariatur modi in porro quod,
        molestias soluta ipsa! Provident debitis, quis soluta, minima unde modi
        alias placeat ad, exercitationem culpa quos qui aliquid. Similique,
        deserunt, qui aperiam vitae cupiditate magnam fuga in, obcaecati enim
        totam aspernatur illum repellat nisi asperiores sunt fugit voluptates
        cumque ex mollitia recusandae. Praesentium fugit vel ducimus tenetur
        architecto, dolore iusto facere a adipisci est illum nisi reprehenderit
        dolores
      </p>
      <button class="butonCard">Incribirme</button>
    </div>
  </div>
  <div class="cardContainerLeft">
    <div class="textContainer">
      <h2 class="title">Nombre de curso</h2>
      <p class="text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. At natus
        nesciunt sed laborum aut iure, tempore commodi mollitia dignissimos
        magni accusantium sapiente iusto id dicta hic debitis consectetur cumque
        enim dolor facere sunt architecto. Repellendus ipsam doloremque
        voluptate possimus provident non, cum beatae neque placeat
        necessitatibus, voluptates obcaecati fuga pariatur modi in porro quod,
        molestias soluta ipsa! Provident debitis, quis soluta, minima unde modi
        alias placeat ad, exercitationem culpa quos qui aliquid. Similique,
        deserunt, qui aperiam vitae cupiditate magnam fuga in, obcaecati enim
        totam aspernatur illum repellat nisi asperiores sunt fugit voluptates
        cumque ex mollitia recusandae. Praesentium fugit vel ducimus tenetur
        architecto, dolore iusto facere a adipisci est illum nisi reprehenderit
        dolores debitis ad cupiditate, perspiciatis ab excepturi. Cumque vel
        sapiente sunt inventore quod ipsum saepe, ipsam vero nam fugiat. Ad
        sint, delectus modi deserunt id laboriosam praesentium aut iste
        eligendi. Blanditiis quam quaerat facere consectetur ratione unde, ipsa
        dolor.
      </p>
      <button class="butonCard">Incribirme</button>
    </div>
    <div class="imgContainer">
      <img class="img" src="../../../assets/img/chesecake.jpg" alt="" />
    </div>
  </div>
  <div class="cardContainerRight">
    <div class="imgContainer">
      <img class="img" src="../../../assets/img/cupcakes.jpg" alt="" />
    </div>
    <div class="textContainer">
      <h2 class="title">Nombre de curso</h2>
      <p class="text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. At natus
        nesciunt sed laborum aut iure, tempore commodi mollitia dignissimos
        magni accusantium sapiente iusto id dicta hic debitis consectetur cumque
        enim dolor facere sunt architecto. Repellendus ipsam doloremque
        voluptate possimus provident non, cum beatae neque placeat
        necessitatibus, voluptates obcaecati fuga pariatur modi in porro quod,
        molestias soluta ipsa! Provident debitis, quis soluta, minima unde modi
        alias placeat ad, exercitationem culpa quos qui aliquid. Similique,
        deserunt, qui aperiam vitae cupiditate magnam fuga in, obcaecati enim
        totam aspernatur illum repellat nisi asperiores sunt fugit voluptates
        cumque ex mollitia recusandae. Praesentium fugit vel ducimus tenetur
        architecto, dolore iusto facere a adipisci est illum nisi reprehenderit
        dolores debitis ad cupiditate, perspiciatis ab excepturi. Cumque vel
        sapiente sunt inventore quod ipsum saepe, ipsam vero nam fugiat. Ad
        sint, delectus modi deserunt id laboriosam praesentium aut iste
        eligendi. Blanditiis quam quaerat facere consectetur ratione unde, ipsa
        dolor.
      </p>
      <button class="butonCard">Incribirme</button>
    </div>
  </div>
  <div class="cardContainerLeft">
    <div class="textContainer">
      <h2 class="title">Nombre de curso</h2>
      <p class="text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. At natus
        nesciunt sed laborum aut iure, tempore commodi mollitia dignissimos
        magni accusantium sapiente iusto id dicta hic debitis consectetur cumque
        enim dolor facere sunt architecto. Repellendus ipsam doloremque
        voluptate possimus provident non, cum beatae neque placeat
        necessitatibus, voluptates obcaecati fuga pariatur modi in porro quod,
        molestias soluta ipsa! Provident debitis, quis soluta, minima unde modi
        alias placeat ad, exercitationem culpa quos qui aliquid. Similique,
        deserunt, qui aperiam vitae cupiditate magnam fuga in, obcaecati enim
        totam aspernatur illum repellat nisi asperiores sunt fugit voluptates
        cumque ex mollitia recusandae. Praesentium fugit vel ducimus tenetur
        architecto, dolore iusto facere a adipisci est illum nisi reprehenderit
        dolores debitis ad cupiditate, perspiciatis ab excepturi. Cumque vel
        sapiente sunt inventore quod ipsum saepe, ipsam vero nam fugiat. Ad
        sint, delectus modi deserunt id laboriosam praesentium aut iste
        eligendi. Blanditiis quam quaerat facere consectetur ratione unde, ipsa
        dolor.
      </p>
      <button class="butonCard">Incribirme</button>
    </div>
    <div class="imgContainer">
      <img class="img" src="../../../assets/img/macarrons.jpg" alt="" />
    </div>
  </div>
</div>
