body{
    background-color: #0d5b90;
}
.cursosContainer {
  width: 70%;
  height: 450px;
  margin: 5% 15%;
  position: relative;
  overflow: hidden;
}

.cursoImagen {
  background-image: url(../../../assets/img/pexels-valeria-boltneva-7474291.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;

}

.cursosContainer:hover .cursoImagen {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition: transform 3s; /* Agregar una transición suave */
}

  .aboutUsContainer {
    background-image: url(../../../assets/img/pexels-gary-barnes-6231611.jpg);
    width: 70%;
    height: 450px;
    margin: 5% 15% 5%;
    background-size: cover;
    background-position: center;
    position: relative;
    
  }
  .aboutUsContainer {
    width: 70%;
    height: 450px;
    margin: 5% 15%;
    position: relative;
    overflow: hidden;
  }
  
  .aboutUsImagen {
    background-image: url(../../../assets/img/pexels-gary-barnes-6231611.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }
  
  .aboutUsContainer:hover .aboutUsImagen {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    transition: transform 3s; /* Agregar una transición suave */
  }
  .title {
    background-color: antiquewhite;
    width: 70%;
    height: 60px;
    margin: 0rem 15%;
    position: absolute;
    bottom: 3px;
    cursor: pointer;
    transition: transform 15s; /* Agrega una transición suave para los cambios */
  }
  
  .title:hover h1 {
    font-size: 35px; /* Aumenta la fuente en 10px */
    letter-spacing: 25px; /* Agrega letter-spacing: 10px */
  }
  
  h1 {
    text-align: center;
    margin-top: 1rem;
    font-size: 30px; /* Tamaño de fuente normal */
    letter-spacing: normal; /* Espaciado de letras normal */
  }