

.navContainer{
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
}

.liContainer{
display: flex;
list-style: none;
}
.item{
    padding: 1rem;
    cursor: pointer;
}
.logoButton{
    padding: 1rem;
    margin-left: 3rem;
    cursor: pointer;
}
.loginButton{
    padding: 1rem;
    margin-right: 3rem;
    cursor: pointer;
}
